@media print {
  img {
    display: none;
  }
}

header{ 
    text-align: center;
}

body {
  border: 2px solid black;
  margin: 0.5in;
  padding: 0.5in;
}

p {
    color:black;
    margin: 25px 25px 25px 25px;
}
h1 {
    color:black;
}
h2 { 
    color:black;
}
h3 {
    color:gray;
}

ul {
    color:black;
}

