@media screen {
  body {
    border: 2px solid black;
    margin: 2in;
    padding: 0.5in;
    font-size: 20pt;
  }
  
  main {
    display: flex;
    gap: 20px;
  }
  
  main section {
    flex: 1;
  }
}

@media print {
  @page {
    margin: 0.5in;
    border: 2px solid black;
  }
  
  img {
    display: none;
  }
  
  body {
    border: none;
    margin: 0;
    padding: 0.5in;
  }
  
  section {
    page-break-inside: avoid;
  }

    #info{
        padding-top: 0.5in;
    }
}

header{ 
    text-align: center;
}

p {
    color:black;
    margin: 25px 25px 25px 25px;
}
h1 {
    color:black;
}
h2 { 
    color:black;
}
h3 {
    color:gray;
}

ul {
    color:black;
}

