body{
    font: Arial;
    margin: 30px;
}

header{
    margin-bottom: 20px;
}

h1{
    font-size: 30px;
    color: black;
}

section{
    margin-bottom: 20px;
}

#messageArea{
    margin-top: 20px;
    border-top: black solid 1px;
    padding-top: 10px;
}