body{
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: lightgrey;
}

header{
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    background-color: darkslategrey;
}

h1{
    font-size: 30px;
    background-color: lightgray;
    color: black;
    text-align: center;
}

section{
    margin-bottom: 20px;
    text-align: center;
}

button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: darkgray;
}

#submitButton{
    background-color: lightblue;
}

#messageArea{
    margin-top: 20px;
    border-top: black solid 1px;
    padding-top: 10px;
    text-align: center;
}